# this is only for search engines, it does not appear in the home
# as long as the json variables name and description are provided
title: Ath
description: hyde to my jekyll
baseurl: ""
url: https://nadath.github.io

# this information is shown on the homepage, all fields are optional and
# can be declared either as a single string or as a string array/hash
json:
  name: Ath
  description:
    - Hello!
    - This tiny website looks barren
    - Explore away, I might fill it up with some arts
    - Later!
  cv: assets/cv.pdf
  address:
    - University of Jekyll
    - Department of Arts
    - 221 Gothic St, London
  contact:
    #office: Foobar Hall 1.23
    phone: +12 3456 7890
    email: nadiaathirah0.0@gmail.com
  art: https://nadath.github.io/art/
  blog: https://nadath.github.io/blog/
  profiles:
    #facebook: https://www.facebook.com
    twitter: https://twitter.com/nadiathae
    #instagram: https://www.instagram.com/nadianadzair
    linkedin: https://www.linkedin.com/in/nadianadzair/
    #stackoverflow: https://stackoverflow.com
    github: https://github.com/nadath

exclude:
  - LICENSE
  - README.md

plugins:
  - jekyll-seo-tag
  - jekyll-sitemap

whitelist:
  - jekyll-sitemap

sass:
  sass_dir: _sass
  sourcemap: never

imagesurl: "/assets/img/"
thumbsurl: "/assets/thumbs/"
