<body>
  <div class="dropdown">
    <button onclick="drop(bar)" class="dropbtn">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </button>
    <div id="myDropdown" class="dropdown-content">
      <a href="{{ site.url }}">Home</a>
      <a href="{{ site.json.art }}">Art</a>
      <a href="{{ site.json.blog }}">Blog</a>
    </div>
  </div>

  <script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function drop(x) {
      document.getElementById("myDropdown").classList.toggle("show");
      x.classList.toggle("change");
    }

  // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
  </script>
</body>
