body {
  font-family: "hack", monospace;
  font-size: 14px;
  font-weight: normal;
  background-color: var(--oc-gray-9);
  color: var(--oc-green-4);
}

main {
  position: relative;
  overflow: auto;
  max-width: 960px;
  margin: auto;
  width: auto;

  @media (min-width: 576px) {
    font-size: 14px;
    width: 80%;
  }

  @media (min-width: 768px) {
    font-size: 16px;
    width: 60%
  }
}

p {
  margin: 0;
}

a {
  color: inherit;
  font-style: italic;

  &:hover,
  &:active {
    color: var(--oc-green-5);
  }
}