.dropbtn {
  background-color: var(--oc-gray-9);
  color: var(--oc-green-4);
  padding: 12px 16px;
  margin: 0;
  border: none;
  cursor: pointer;
  z-index: 4;
}
  
.dropbtn:hover, .dropbtn:focus {
  border: 1px solid var(--oc-green-4);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--oc-gray-9);
  width: min-content;
  overflow: auto;
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  display: block;
}

.dropdown a:hover {border: 1px solid var(--oc-green-4)}

.show {display: block;}
