#element {
  position: absolute;
  z-index: 2;
  width: 20px;
  height: 20px;
  top: 0;
  right: 0;
  }

#elementheader {
  cursor: grab;
  background-color: var(--oc-gray-9);
  z-index: 3;
  float: right;
}

#divheader {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background-color: var(--oc-green-4);
  color: var(--oc-black);
  text-align: center;
  margin: 0;
  font-size: 0.9em;
  border: 1px solid var(--oc-gray-7);
  font-weight: 500;
}

#divwindow {
  height: 250px;
  width: 300px;
  border: 1px solid var(--oc-gray-7);
  border-radius: 5px;
  background-color: var(--oc-gray-9);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  font-size: 0.8em;
}