.container {
  display: inline-block;
  cursor: pointer;
}
  
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--oc-green-4);
  margin: 6px 0;
  transition: 0.4s;
}

.container:hover .bar1 {transform: translate(0, 11px) rotate(-45deg);}
.container:hover .bar2 {opacity: 0;}
.container:hover .bar3 {transform: translate(0, -11px) rotate(45deg);}
  