/*! div style */
  div.image-gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 60p;
    justify-content: center;
    padding: 4px;
  }

  div.box {
      flex-basis: 25%;
      width: 100%;
      padding: 10px;
      margin: 2px;
  }

  div.img-gallery {
	width: 100%;
  	height: auto;
	object-fit: cover;
  	transform: scale(1);
  	transition: all 0.3s ease-in-out;
  }
  &:hover {
    transform: scale(1.05);
  }
